.facetTitle {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6rem;
}

.facetList {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.facetList > li {
  padding: 0 10px;
  font-size: 0.8rem;
  line-height: 1.6rem;
  border-radius: 3px;
}

.facetList > li:hover {
  cursor: pointer;
}

.facetList > li.highlightOnHover:hover {
  color: white;
  background-color: #2897C5;
}

.facetList > li.active {
  color: white;
  background-color: #2897C5;
}

.facetList > li > .count {
  float: right;
}

span.stars {
  margin-bottom: 4px;
}

span.stars, span.stars span {
    display: block;
    background: url('../build/img/stars.png') 0 0 / 17px repeat-x;
    width: 85px;
    height: 17px;
}

span.stars span {
    background-position: 0 -18px;
}
